.img-search{
position: absolute;
top: 0;
left: 0;
border-top-left-radius: 9px;
border-bottom-left-radius: 9px;
}

.card-search{
    max-width: 1000px;
    height: 138.4px;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 1px 1px 5px #666;
    border-radius: 9px;
    position: relative;
    overflow-y: hidden;
}

.title-search{
position: absolute;
top: 3px;
left: 120px;
}

.text-search{
    color: #999;
    position: absolute;
    top: 37px;
    left: 120px;
}

.overview-search{
    position: absolute;
    top: 80px;
    left: 120px;
}