.space{
    margin-top: 0px;
}

.pic{
    width: 100%;  
    min-height: 300px;
    max-height: 300px;  
    position: relative;
}

.title{
    width: 100%;
    color: white;
    position: absolute;
    top: 110px;
    left: 50px;
    font-size: 1.6rem;
    line-height: 5px;
}

.search-boxb{
    width: 100%;
}

.search-text{
    width: 1230px;
    height: 46px;
    position: absolute;
    top: 260px;
    left: 49px;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 2px 20px;
    line-height: 46px;
    font-size: 1.1em;
    outline: none;
}

.search-btn{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 26px;
    border: none;
    background: #11C6C5;
    border-radius: 30px;
    position: absolute;
    top: 260px;
    right: 30px;
    color: #fff;
    outline: none;

}