.header{
    display: flex;
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    background-color: #032541;
    height: 64px;
    z-index: 10;
    transition: top 0.2s linear;
}

.left-side{
    width: 50%;
    text-align: left;
    padding: 20px 20px;
}

.logo{
    max-width: 160px;
    max-height: 100px;
}

.right-side{
    width: 50%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    /* justify-items: right; */
}

.icon{
    font-size: 1.25em;
    color: white;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 0px;
}

.lang{
    border: 1px solid white;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-size: 0.9em;
    width: 26px;
    height: 24px;
    cursor: pointer;
    margin-top: -5px;
}
.lang:hover{
    border: none;
    background-color: white;
    color: #032541;
}

.link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.icon-search{
    font-size: 1.7em;
    color: #01B4E4;
    cursor: pointer;
}

.iconBix{
    font-size: 1.7em;
    color: white;
    cursor: pointer;
}

.search-box{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
}